/* Aca van los estilos para cosas que se generan en APP.JSX */

.fa-solid{
    padding-top: 20px;
    padding-left: 20px;
    color: white;
}

.cardBody{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20vh;
}

.carrito{position: relative; width: 24px; height: 24px;  padding-right: 1rem;}
  .carrito #cant_items{position: absolute; background-color: rgb(255, 0, 0); border-radius: 50%; padding: 4px; right: -.5rem; top:-1rem; 
}